
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Quicksand", sans-serif;
}
header{
    background-color: white;
}
nav{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    background-color: #00d1b2;
    width: 35px;
    height: 35px;
}
.logo h1{
    font-size: 40px;
    font-weight: bold;
}
.buscador{
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    border: solid black;
}
.buscador img{
    width: 30px;
}
.buscador h6{
    color: #ababab;
}
.carrito{
    display: flex;
    align-items: center;
}
.carrito img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.barra ul{
    display: flex;
    width: 1000px;
    height: 40px;
    margin: auto;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px 220px;
    font-size:24px;
}
.titulo{
    width: 380px;
    height: 50px;
    padding: 20px 310px;
    margin: auto;
    align-items: center;
    border-top: 3px solid black;
}
.titulo h2{
    width: 1000px;
    font-size: 40px;
    margin-left: -250px;
}

.container-general{
    display: flex;
    align-items: center;
    margin: auto;
    width: 1000px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    margin-left: -10px;
    width: auto;
    height: 250px;
    padding: 10px;
}
.texto{
    display: inline-block;
    justify-content: center;
    background-color: #00d1b2;
    width: auto;
    height: 320px;
    justify-content:center;

}
.texto p{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 10px 30px;
}
.sub-texto{
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #00d1b2;
    margin: 8px;
    width: auto;
    height: 100px;
}
.sub-texto h4{
    color: white;
    padding: 10px 40px;
    font-size: 30px;
}
.sub-texto img{
    width: 50px;
    height: 50px;
    
}
.sucu-img{
    height: auto;
}
.conta-suculenta{
    display: inline-block;
    justify-content: center;
}
.conta-suculenta img{
    width: 260px;
    height: 210px;
    margin-right: 5px;

}
.direccional{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00d1b2;
    margin: 8px;
    width: 260px;
    height: 100px;

}
.direccional h3{
    color: white;
    text-align:center;
    font-size: 25px;
    
}
.direccional img{
    width: 30px;
    height: 30px;
}
.article{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    margin: 20px;
    padding: 15px 0;
    margin-left: 260px;
    background-color:#adebe8 ;

}
.article img {
    width: 100px;
    margin: 15px;
    border-radius: 45%;
    
}
.article h5{
    text-align: center;
    color: black;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.galletita{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    border: 3px solid black;
    background-color: white;
}
.galletita button{
    width: 90px;
    height: 30px;
    background-color: #00d1b2;
    border: 1px solid black;
    box-shadow: 10px black;
}